name: "make-changelog"

on:
  pull_request:
  workflow_dispatch:
    inputs:
      release_type:
        description: "Release type"
        required: true
        type: choice
        options:
        - "patch"
        - "minor"
        - "major"
        default: "patch"

concurrency:
  group: "make-changelog-${{ github.ref }}"
  cancel-in-progress: true

jobs:

  make-changelog:

    runs-on: ubuntu-latest

    steps:

#region Setup

    - id: checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - id: increment-version
      uses: reecetech/version-increment@2023.4.1
      with:
        scheme: semver
        increment: ${{ inputs.release_type }}

#endregion

    - id: generate-changelog
      uses: mikepenz/release-changelog-builder-action@v4
      with:
        configuration: ".github/workflows/configurations/release-changelog-builder.json"
        fromTag: 1.0.0
        toTag: 226e423ada961c6bc669df56f98f8c5567438717
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - env:
        CHANGELOG: ${{ steps.generate-changelog.outputs.changelog }}
      run: echo $CHANGELOG
