name: '[PR] Merge to Main'

on:
  pull_request:
    types: [ closed ]
    branches: [ main ]

env:
  VERSION_LABELS: 'patch, minor, major'
  MOD_NAME: 'ManyJobs'
  ZIP_CONTENTS: '1.4 About LICENSE LoadFolders.xml Mods'

jobs:

  get-versioning-label:

    runs-on: ubuntu-latest

    if: github.event.pull_request.merged == true
    steps:

    - id: get-versioning-label
      uses: mheap/github-action-required-labels@v5
      with:
        labels: ${{ env.VERSION_LABELS }}
        mode: maximum
        count: 1

    - env:
        OUTPUT: ${{ toJson(steps.get-versioning-label.outputs) }}
      run: echo $OUTPUT

    outputs:
      label: ${{ steps.get-versioning-label.outputs.labels }}

  increment-version:
    if: needs.get-versioning-label.outputs.label != ''

    needs: get-versioning-label

    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:

    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - id: increment-version
      uses: zwaldowski/semver-release-action@v3
      with:
        dry_run: true
        bump: ${{ needs.get-versioning-label.outputs.label }}
        github_token: ${{ secrets.GITHUB_TOKEN }}

    - env:
        OUTPUT: ${{ toJson(steps.increment-version.outputs) }}
      run: echo $OUTPUT

    - id: push-tag
      uses: tvdias/github-tagger@v0.0.2
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        tag: ${{ steps.increment-version.outputs.version }}

    outputs:
      incremented_version: ${{ steps.increment-version.outputs.version }}

  build:

    needs: increment-version

    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    # Do build tasks here ↓

    - uses: tecolicom/actions-use-apt-tools@v1
      with:
        tools: libxml2-utils
    - uses: tj-actions/glob@v17
      id: glob
      with:
        files: |
          **/*.xml
    - run: |
        for i in '${{ steps.glob.outputs.paths }}'; do xmllint --noout $i; done

    # Do build tasks here ↑

    - run: |
        zip -r '${{ env.MOD_NAME }}-${{ needs.increment-version.outputs.incremented_version }}.zip' ${{ env.ZIP_CONTENTS }}

    - uses: actions/upload-artifact@v3
      with:
        name: '${{ env.MOD_NAME }}-${{ needs.increment-version.outputs.incremented_version }}.zip'
        path: '${{ env.MOD_NAME }}-${{ needs.increment-version.outputs.incremented_version }}.zip'
        if-no-files-found: error
        retention-days: 1

    outputs:
      incremented_version: ${{ needs.increment-version.outputs.incremented_version }}
      artifact_name: '${{ env.MOD_NAME }}-${{ needs.increment-version.outputs.incremented_version }}.zip'

  generate-changelog:

    needs: build

    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - id: build-changelog
      uses: mikepenz/release-changelog-builder-action@v4
      with:
        configuration: ".github/workflows/configuration/release-changelog-builder.json"
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - env:
        OUTPUT: ${{ toJson(steps.build-changelog.outputs) }}
      run: echo $OUTPUT

    outputs:
      incremented_version: ${{ needs.build.outputs.incremented_version }}
      artifact_name: ${{ needs.build.outputs.artifact_name }}
      changelog: ${{ steps.build-changelog.outputs.changelog }}

  release:

    needs: [ generate-changelog ]

    runs-on: ubuntu-latest

    permissions:
      contents: write

    if: github.event.pull_request.merged == true
    steps:

    - env:
        OUTPUT: ${{ toJson(needs.generate-changelog.outputs) }}
      run: echo $OUTPUT

    - uses: actions/download-artifact@v3
      with:
        name: ${{ needs.generate-changelog.outputs.artifact_name }}

    - run: ls -l

    - uses: ncipollo/release-action@v1.12.0
      with:
        token: ${{ github.token }}
        artifactErrorsFailBuild: true
        tag: ${{ needs.generate-changelog.outputs.incremented_version }}
        makeLatest: true
        body: ${{ needs.generate-changelog.outputs.changelog }}
        artifacts: ${{ needs.generate-changelog.outputs.artifact_name }}
