name: '[Push] CI'

env:
  MOD_NAME: 'ManyJobs'
  ZIP_CONTENTS: '1.4 About LICENSE LoadFolders.xml Mods'

on:
  push:
    branches-ignore: [ main ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    # Do build tasks here ↓

    - uses: tecolicom/actions-use-apt-tools@v1
      with:
        tools: libxml2-utils
    - uses: tj-actions/glob@v17
      id: glob
      with:
        files: |
          **/*.xml
    - run: |
        for i in '${{ steps.glob.outputs.paths }}'; do xmllint --noout $i; done

    # Do build tasks here ↑

    - id: get-short-sha
      run: echo "short_sha=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

    - uses: actions/upload-artifact@v3
      with:
        name: '${{ env.MOD_NAME }}-${{ steps.get-short-sha.outputs.short_sha }}.zip'
        path: '${{ env.ZIP_CONTENTS }}'
